* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

body {
    font-size: 16px;
    line-height: 1;
}

header {
    font-size: 40px;
    font-weight: bolder;
    background-color:  rgb(58, 58, 58);
    color: white;
    text-align: center;
    padding: 25px;
}

.container {
    width: 100%;
    padding-top: 20px;
    clear: both;
    float: right;
}

section {
    overflow: auto;
    clear: both;
    width: 100%;
  }

#sideNav {
    height: 100%; 
    position: fixed;
    top: 90px; 
    left: 0;
    background-color: rgb(247, 245, 245);
}

h1 {
    font-size: 20px;
    text-align: left;
    padding: 20px 0px 10px 5px;   
}

.fas {
    color: white;
}

h2 {
    font-size: 30px;
    text-align: left;
    font-weight: bolder;
    padding: 20px;
}

p {
    padding-bottom: 250px;
    color: grey;
}

ul {
    color: grey;
    font-size: 18px;
    line-height: 24px;
    padding-left: 20px;
}

.card-deck {
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px;
    align-content: center;
}
